// Colors
$grey: #dddddd;
$white: #ffffff;
$blue-bt: #1E88E5;
$blue-hv: #1565C0;
$red-bt: #F44336;
$red-hv: #E53935;
$red-border: #D32F2F;
$grey-bg: #ECEFF1;
$dark-grey: #37474F;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$header-color: $dark-blue;
// Font Size
$base-font-size: 1.4rem;
$large-font-size: 2.2rem;
$font-size-large: 1.8rem;
$body-default-font-family: Helvetica, Arial, sans-serif;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
// Button
$button-bg: $blue-bt;
$button-hv: $blue-hv;
$button-color: $white;
$button-danger-bg: $red-bt;
$button-danger-hv: $red-hv;
$button-danger-border: $red-border;
